body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff; /* Azzurro chiaro */
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
    font-size: 28px;
}

p {
    text-align: center;
    color: #555;
    margin-bottom: 20px;
    font-size: 16px;
}

#container {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#startButton {
    background-color: #4caf50; /* Verde */
    color: white;
    border: none;
    border-radius: 25px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#startButton:hover {
    background-color: #45a049; /* Verde più scuro */
    transform: scale(1.05); /* Leggero ingrandimento */
}

#numero_casuale {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    color: #333;
}

#numeri {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    margin: 20px 0;
    width: 100%;
}

.numero {
    background-color: #007bff; /* Blu */
    color: white;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.numero:hover {
    background-color: #0056b3; /* Blu più scuro */
    transform: translateY(-5px); /* Sollevamento */
}

#tempo {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

#tempi {
    margin-top: 20px;
    font-size: 16px;
    color: #555;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    width: 100%;
    max-width: 400px;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
