body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

h1 {
    text-align: left; 
    color: #333;
    margin-bottom: 10px;
    width: 90%; 
    max-width: 400px;
}

p {
    text-align: left; 
    color: #555;
    margin-bottom: 20px;
    width: 90%;
    max-width: 400px;
}

#container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#startButton {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

#startButton:hover {
    background-color: #0056b3;
}

#numero_casuale {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    color: #333;
}

#numeri {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 20px 0;
    width: 100%;
}

.numero {
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.numero:hover {
    background-color: #0056b3;
}

#tempi {
    margin-top: 20px;
    font-size: 16px;
    color: #555;
    font-family:'Courier New', Courier, monospace;
}
